<div class="share-buttons button-group text-center">
  <%= social_share_button_tag(decidim_page_title,
                              url: decidim_meta_url,
                              image: decidim_meta_image_url,
                              desc: h(decidim_meta_description),
                              via: decidim_meta_twitter_handler) %>

  <a href="#" class="button" data-open="urlShare">
    <%= icon "link-intact", role: "img", aria_label: t(".share_link") %>
    <%= t(".share_link") %>
  </a>
</div>
<%= javascript_include_tag "decidim/social_share" %>
<%= stylesheet_link_tag "decidim/extras/_social_share" %>
